body {
    font: normal 12px Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 50%;
}

td {
    border: 1px solid black;
    font-size: 18px;
    font-weight: normal;
    padding: 3px 10px;
    text-align: left;
}

#precio{
   text-align: right;
   font-weight: 600;
   color: red;
}

.tabla{
   text-align: center; 
}