body { 
    font-family: Verdana; 
    font-size: 12px; 
    color: #444; 
   
 } 

a {color: #48577D; text-decoration: none;} 

a:hover {text-decoration: underline;} 

h1, h2 {margin-bottom: 15px;} 

h1 {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
} 

h2 {font-size: 16px} 

container { 
    width: 700px; 
    margin: 150px auto; 
    background-color: #eee; 
    padding:15px; 
    overflow: hidden; 
} 

main { 
    width: 530px; 
    float: left; 
} 

table { 
    width: 520px; 
} 

table th { 
    padding: 10px; 
    background-color: #48577D; 
    color: #fff; 
    text-align: left; 
} 

table td { 
    padding: 5px; 
} 

table tr { 
    background-color: #d3dcf2; 
} 

sidebar { 
    width: 200px; 
    float: left; 
}

.numero{
    text-align: right;
}

.fondo{
    height: 100%;
    width: 100%;
    background-color: #f9e458;
}

.fondo1{
    height: 100vh;
    width: 100vw;
    background-color: #7e75f9;
}

.fondo2{
    height: 100vh;
    width: 100vw;
    background-color: #05f33d;
}

.fondo3{
    height: 100vh;
    width: 100vw;
    background-color: #f3a705;
}

.fondo4{
    height: 100vh;
    width: 100vw;
    background-color: #f3056a;
}

.fondo5{
    height: 100vh;
    width: 100vw;
    background-color: #fdf62d;
}

.fondoe{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}



.centrar{
    width: 700px; 
    margin: 0 auto;
    padding: 10px 5px 40px;
    background-color: #fff;
}

.tablecenter{
    margin: 0 auto;
}

p{
    text-align: center;
}

.cuadro{
    width: 510px; 
    padding: 10px;
    margin: 20px auto 0;
}

.cuadro1{
    width: 510px; 
    padding: 0px 10px;
    margin: 0 auto;
}

.cuadro2{
    width: 510px; 
    padding: 10px;
    margin: 0 auto;
}

a{
    padding: 5px;
}

.medio{
    width: 445px; 
    margin: 10px auto;
}

.medio1{
    width: 332px; 
    margin: 10px auto;
    padding: 0px;
}